{% extends "volunteer/base.html" %}

{% load static %}


{% block title %}
    <title>Lend A Hand - About</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

    <div class="col-6 col-xl-2 text-right d-block">

        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a></div>

    </div>

    </div>
    </div>

    </header>

    <div class="unit-5 overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});">
        <div class="container text-center">
            <h2 class="mb-0">About</h2>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-5" data-aos="fade">
                    <img src="{% static "images/volunteer1.jpg" %}" class="img-md-fluid" alt="Placeholder image"
                         width="750" height="500">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
                        <h2 class="font-weight-bold text-black" data-aos="fade">Our Vision</h2>
                        <p>To provide the residents of the Greater Vancouver Area with opportunities to investigate
                            volunteering opportunities easily and safely. </p>
                        <h2 class="font-weight-bold text-black" data-aos="fade">Our Mission</h2>
                        <p>LendAHand is a tool for non-profit organizations dedicated to decreasing barriers to entry
                            into volunteerism. Lend a hand strives to provide its classified services to all non-profit
                            organizations in the Greater Vancouver Area, regardless of NPO capacity or budget. </p>
                        <ul class="site-block-check">
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6" data-aos="fade">
                    <h2 class="text-black">How LendA<strong>Hand</strong> Works </h2>
                </div>
            </div>
            <div class="row hosting">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">

                    <div class="unit-3 h-100 bg-white">

                        <div class="d-flex align-items-center mb-3 unit-3-heading">
                            <div class="unit-3-icon-wrap mr-4">
                                <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                          stroke-linejoin="miter" fill="none"
                                          d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                </svg>
                                <span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
                            </div>
                            <h2 class="h5">Search Volunteer Listings</h2>
                        </div>
                        <div class="unit-3-body">
                            <p>Quickly browse through readily available postings made by local NPO's.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">

                    <div class="unit-3 h-100 bg-white">

                        <div class="d-flex align-items-center mb-3 unit-3-heading">
                            <div class="unit-3-icon-wrap mr-4">
                                <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                          stroke-linejoin="miter" fill="none"
                                          d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                </svg>
                                <span class="unit-3-icon icon fl-bigmug-line-user143"></span>
                            </div>
                            <h2 class="h5">Learn about the NPOs</h2>
                        </div>
                        <div class="unit-3-body">
                            <p>Learn all about the role requirements, commitment level, and the organizations in your
                                community.</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">

                    <div class="unit-3 h-100 bg-white">

                        <div class="d-flex align-items-center mb-3 unit-3-heading">
                            <div class="unit-3-icon-wrap mr-4">
                                <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt"
                                          stroke-linejoin="miter" fill="none"
                                          d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                                </svg>
                                <span class="unit-3-icon icon fl-bigmug-line-user144"></span>
                            </div>
                            <h2 class="h5">Lend A Hand</h2>
                        </div>
                        <div class="unit-3-body">
                            <p>Quickly apply for a volunteering role and connect with your favorite NPO.</p>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>



    <div class="site-blocks-cover" style="background-image: url({% static 'images/volunteer3.jpg' %});" data-aos="fade"
         data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row row-custom align-items-center">
                <div class="col-md-10">
                    <h1 class="mb-2 text-white w-75">Make an Impact in <span class="font-weight-bold">Our</span>
                        Community</h1>
                    <p class="h3"><a href="{% url 'volunteer:index' %}" class="btn btn-primary py-3 px-5">Find a Role</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}