{% extends "volunteer/base.html" %}

{% load static %}


{% block title %}
    <title>Lend A Hand - {{listing.title}}</title>
{% endblock title %}

{% block header%}
{% endblock header%}

{% block content %}

    <div class="unit-5 overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});">
      <div class="container text-center">
        <h2 class="mb-0">{{listing.title}}</h2>

      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-8 mb-5 card card-text">

            <div class="p-5 bg-white" >

               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{listing.title}}</h2>
                 <div class="badge-wrap">
                  <span class=

                  {% if listing.commitment == "One-time" %}
                    "bg-success text-white badge py-2 px-4"
                  {% elif listing.commitment == "Weekly" %}
                    "bg-danger text-white badge py-2 px-4"
                  {% else %}
                    "bg-warning text-white badge py-2 px-4"
                  {% endif %}

                  >{{listing.commitment}}</span>

                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href={% url "volunteer:npoprofile" listing.org.user_id %}>{{listing.org}}</a></div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>{{listing.city}}</span></div> &nbsp; &nbsp; &nbsp;
                   <div><span class="icon-calendar"></span> <span>{{listing.pub_date|date:"SHORT_DATE_FORMAT"}}</span></div>
               </div>
            <hr>

              <p>{{listing.text|safe}}</p>

                {% if user.is_volunteer %}
               {% if listing in user.volunteer.favorites.all %}
                    <a href="{% url 'volunteer:removefromfavorites' user.id listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart favorite-added" style="color: red"></span></a>
                {% else %}
                    <a href="{% url 'volunteer:addtofavorites' user.id listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
          {% endif %}
                {% if listing in user.volunteer.registered.all %}
                    <a href="{% url 'volunteer:unapply' user.id listing.id %}" class="btn btn-primary py-2">Withdraw</a>
                    {% else %}
                    <a href="{% url 'volunteer:apply' user.id listing.id %}" class="btn btn-primary py-2">Apply</a>
                    {% endif %}
               {% elif user.is_npo and user.id == listing.org.user_id %}
                    <hr>
                <a href="{% url 'volunteer:deletelisting' listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-trash"></span></a>
                <a href="{% url 'volunteer:editlisting' listing.id %}" class="btn btn-primary btn-sm"
               style="color:white">Edit Listing</a>

            {% endif %}
              
              <script>
              function myFunction() {
                alert("Application complete");
              }
              </script>            
            </div>
          </div>

          <div class="col-lg-4">


            <div class="p-4 mb-3 bg-white card card-text">
              <h3 class="h5 text-black mb-3">Basic Requirements</h3>
              <p>{{listing.requirements|safe}}</p>
          </div>
        </div>
        <div class="container">

        {% if user.id == listing.org.user_id %}

            <h3>Registered Volunteers:</h3>
            <hr>

            {% for volunteer in listing.Registered.all %}
                <div class="container card card-text">
                <span class="bg-white p-4 align-items-center" style="display: flex; justify-content: space-between" >
                    <span>
                        <p><b>Name:</b> {{volunteer.user.name }}</p>
                        <p><b>Email:</b> {{volunteer.user.email }} </p>
                        <p><b>Number:</b> {{volunteer.user.number }} </p>
                        <p><b>Address:</b> {{volunteer.user.address }} </p>
                    </span>
                    <span>
                        <a class="btn btn-primary" href="{% url 'volunteer:volunteerprofile' volunteer.user.id %}">View Profile</a>
                    </span>

                </span>
                </div>

            {% endfor %}
        {% endif %}

        </div>
      </div>
    </div>
    </div>



{% endblock content %}