{% extends "volunteer/base.html" %}


{% block content %}

    <div class="container" style="margin-bottom: 280px; margin-top: 50px">
        <h2> Signup to start lending a hand today</h2>
        <p class="lead">Select your account type</p>
        <div class="container" style="display:flex; flex-wrap: nowrap; justify-content: flex-start">
        <div class="card card-header" style="margin-right: 50px">
            <a href="{% url 'volunteer:volunteer_signup' %}" class="btn btn-lg" role="button">Volunteer</a>
        </div>
        <div class="card card-header">
            <a href="{% url 'volunteer:npo_signup' %}" class="btn btn-lg" role="button">Non-Profit</a>
        </div>
        </div>
    </div>
{% endblock  %}


