{% extends "volunteer/base.html" %}


{% block content %}

    <div class="container" style="margin-bottom: 280px; margin-top: 50px">
        <h2> Signup to start lending a hand today</h2>
        <hr>
        <p class="lead">Select your account type</p>
        <div class="container" style="display:flex; flex-wrap: nowrap; justify-content: space-evenly">
            <div>
            <a href="{% url 'volunteer:volunteer_signup' %}" class="card card-header btn btn-block btn-lg" role="button">Volunteer</a>
        </div>

        <div>
            <a href="{% url 'volunteer:npo_signup' %}" class="card card-header btn btn-lg" role="button">Non-Profit</a>
        </div>
        </div>
    </div>
{% endblock  %}


