{% extends "volunteer/base.html" %}
{% load static %}


{% block title %}
    <title>Lend A Hand - Volunteer</title>
{% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}


    <div class="unit-5 overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %});">
        <div class="container text-center">
            <h2 class="mb-0">{{ volunteer.name }}</h2>
        </div>
    </div>


    <div class="container">

        <br>
        <br>
        <h2>{{ volunteer.user.name }}</h2>

        <br>

        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5">

            <div>
            {% if user.is_volunteer and user.id == volunteer.user_id %}
                <h4>Registered</h4>
                <div class="container card card-text" style="overflow: auto;height:400px; margin-bottom: 50px">
                {% if not volunteer.registered.all %}
                        <div class="container">
                        <h3 class="lead"> You're not registered for any roles yet. </h3>
                        </div>
                    {% endif %}
                    <div>
                        {% for listing in volunteer.registered.all %}

                        <div class="row" data-aos="">
                            <div class="col-md-12">

                                <div class=" job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                                    <div class="mb-4 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4">{{ listing.title }}</h2>
                                            <div class="badge-wrap">
                                            <script type="text/javascript" src="../../static/js/listing-color.js">
                                            classColor({{ listing.commitment }})
                                            </script>
                                    <span class= {% if listing.commitment == "One-time" %}
                                                      "bg-success text-white badge py-2 px-4"
                                                  {% elif listing.commitment == "Weekly" %}
                                                      "bg-danger text-white badge py-2 px-4"
                                                  {% else %}
                                                      "bg-warning text-white badge py-2 px-4"
                                                  {% endif %}
                                                >
                                                {{ listing.commitment }}</span>
                                            </div>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">
                                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a
                                                    href="{% url 'volunteer:npoprofile' listing.org.user_id %}">{{ listing.org }}</a>
                                            </div>
                                            <div><span class="fl-bigmug-line-big104"></span>
                                                <span>{{ listing.city }}</span></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                        {% if listing in volunteer.favorites.all %}
                                        <a href="{% url 'volunteer:removefromfavorites' user.id listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart" style="color: red"></span></a>
                                        {% else %}
                                        <a href="{% url 'volunteer:addtofavorites' user.id listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart"></span></a>
                                        {% endif %}
                                        <a href="{% url 'volunteer:displaylisting' listing.id %}" class="btn btn-primary py-2">View Listing</a>
                                        <a href="{% url 'volunteer:unapply' user.id listing.id %}" class="btn btn-primary py-2">Withdraw</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                </div>
                <h4>Favorites</h4>
                <div class="container card card-text" style="overflow: auto;height:400px; margin-bottom: 50px">

                {% if not volunteer.favorites.all %}
                        <div class="container">
                        <h3 class="lead"> You don't have any favorites yet. </h3>
                        </div>
                    {% endif %}

                        {% for listing in volunteer.favorites.all %}
                        <div class="row" data-aos="">
                            <div class="col-md-12">

                                <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                                    <div class="mb-4 mb-md-0 mr-5">
                                        <div class="job-post-item-header d-flex align-items-center">
                                            <h2 class="mr-3 text-black h4">{{ listing.title }}</h2>
                                            <div class="badge-wrap">
                                            <script type="text/javascript" src="../../static/js/listing-color.js">
                                            classColor({{ listing.commitment }})
                                            </script>
                                    <span class= {% if listing.commitment == "One-time" %}
                                                      "bg-success text-white badge py-2 px-4"
                                                  {% elif listing.commitment == "Weekly" %}
                                                      "bg-danger text-white badge py-2 px-4"
                                                  {% else %}
                                                      "bg-warning text-white badge py-2 px-4"
                                                  {% endif %}
                                                >
                                                {{ listing.commitment }}</span>
                                            </div>
                                        </div>
                                        <div class="job-post-item-body d-block d-md-flex">
                                            <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a
                                                    href="{% url 'volunteer:npoprofile' listing.org.user_id %}">{{ listing.org }}</a>
                                            </div>
                                            <div><span class="fl-bigmug-line-big104"></span>
                                                <span>{{ listing.city }}</span></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                            <a href="{% url 'volunteer:removefromfavorites' user.id listing.id %}" class="btn btn-secondary rounded-circle btn-favorite text-gray-500"><span class="icon-heart favorite-added" style="color: red"></span></a>
                                        <a href="{% url 'volunteer:displaylisting' listing.id %}"
                                           class="btn btn-primary py-2">View Listing</a>
                                        {% if listing in volunteer.registered.all  %}
                                        <a href="{% url 'volunteer:unapply' user.id listing.id %}" class="btn btn-primary py-2">Withdraw</a>
                                        {% else %}
                                        <a href="{% url 'volunteer:apply' user.id listing.id %}" class="btn btn-primary py-2">Apply</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                </div>

            </div>

        <div class="col-lg-4" >
            <div id="info" class="p-4 mb-3 bg-white card card-text" >
                <h3 class="h5 text-black mb-3"><b>Account Details</b></h3>
                {% if user.is_volunteer and user.id == volunteer.user_id %}
                <a class="btn btn-primary" href="{% url 'volunteer:volunteer_edit_profile' user.id %}">Edit Profile</a>
                {% endif %}
            <hr>

                <div class=" overlay">
                    <img class="img-fluid img-profile mx-auto rounded-circle" src="{% static 'images/blank-profile-picture.jpg' %}" alt="profile-picture" style="object-fit:cover; max-width: 50%; max-height: 50%; position: relative; left: 25%"> </div>
                <p class="mb-0 font-weight-bold">Name</p>
                <p class="mb-4">{{ volunteer.user.name }}</p>
                <p class="mb-0 font-weight-bold">Address</p>
                <p class="mb-4">{{ volunteer.user.address }}</p>
                <p class="mb-0 font-weight-bold">Phone</p>
                <p class="mb-4">{{ volunteer.user.number }}</p>
                <p class="mb-0 font-weight-bold">Email</p>
                <p class="mb-4"><a href="mailto:{{ volunteer.user.email }}">{{ volunteer.user.email }}</a></p>

                <p class="mb-0 font-weight-bold">About Volunteer</p>
                <p>{{ volunteer.user.about }}</p>
            </div>

            </div>

        </div>

        </div>



{% endblock content %}